html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    max-width: fit-content;
    margin: auto;    
}

/* body{
    max-width: 1250px;
    margin: 10px;
} */

/* ^^ this was to format the body of the website to fit any screen by abby's coding */
 
h1{
    text-align: center;
    color: #5e5e5e;
    /* figure out how the fuck to make it bigger */
    
}

p{
    text-align: center;
    position: relative;
    top: auto;
    left: auto;
    text-wrap: wrap;
}

#banner{
    background-image: url("../images/beach.jpg");
    /* Imagine is extending/overlapping due to small resolution */
    height: 70vh;
    background-position: center;
    position: (-200px,-400px);
    border: 10px solid grey;
    padding: 2em;
    margin: 30px;
    width: 100%;        
}

#title{
    color: green;
    text-align: center;
    font-size: 8em;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-45%, -72%);
}


.img{
    background-image: url("../images/rose1.jpeg");  
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
}


#products{
    border: 10px solid grey;
    padding: 2em;
    width: 100%;
    margin: 30px;
    /* ask how to make them all line up automatically both images and text*/
    /* also ask why the fuck larger made our text smaller???? */
    display: flex;
    background-position: center;
    border: 10px solid grey;
    padding: 2em;
    position: relative;
    height: 300px;
}

#producttext {
    width: 200px;
    float: left;
    height: 300px;
    position: center;
    text-align: center;
}


#quiz{
    border: 10px solid grey;
    padding: 2em;
    margin: 30px;
    width: 100%;
}

#story{
    border: 10px solid grey;
    padding: 2em;
    margin: 30px;
    width: 100%;
}

#steps{
    border: 10px solid grey;
    padding: 2em;
    margin: 30px;
    width: 100%;
}

#contact{
    border: 10px solid grey;
    padding: 2em;
    margin: 30px;
    width: 100%;
}